/* ## start header  */

/* ## end header  */

/* ## start footer  */
footer .menu-footer-1{
    background-color: #313233;
}
footer .menu-footer-2{
    background-color: #1f1f1f;
}

.logo-colorib {
    width: 90%;

    margin: 10px 0;
}
footer .menu-footer-1 span{
    color: white;
    margin: 5px 0;
}


/* ## footer 2  */
footer .menu-footer-2 .menu-footer{
    float: left;
}

.coppyright{
    float: right;
}
footer .menu-footer-2 a{
    margin: 0 5px;
}
/* ## end footer  */